<!DOCTYPE HTML>
<html>
  <head>
    <%= render :partial => 'layouts/umn_bootstrap/common/head' %>
  </head>
  <body>
    <div class="container">

      <%= render :partial => 'layouts/umn_bootstrap/common/header' %>

      <div class="jumbotron">
        <%= render :partial => 'shared/umn_bootstrap/application_header' %>
      </div>

      <div class="row">
        <div class="span3">
          <%= render :partial => 'shared/umn_bootstrap/navigation' %>
        </div>
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>

      <%= render :partial => 'layouts/umn_bootstrap/common/footer' %>

    </div>
    <%= render_if_exists :partial => 'shared/umn_bootstrap/analytics' %>
  </body>
</html>

